= form_for @event do |f|
  -if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :victim_name, "Nom du destinataire du cadeau"
    = f.text_field :victim
  .field
    = f.label :description
    = f.text_area :description

  %p 
    Date: 
    %input#datepicker{:type => 'text', :name => 'event[due_date]'}

    = f.hidden_field :creator_id, :value => current_user.id

  .actions
    = f.submit 'Save'

:javascript
  $(document).ready(function() {
    $("#datepicker").datepicker();
  });
