%h1 Mes évènements
- @events.each do |event|
  %ul.events
    %li.pack
      %p= event.victim
      %p= event.description
      %p= event.due_date
      = link_to 'Show', event, :class => 'button'

= link_to 'Nouvel évènement', new_event_path
