%p#notice= notice

%p
  %b Creator:
  = @event.creator_id
%p
  %b Victim:
  = @event.victim
%p
  %b Description:
  = @event.description
%p
  %b Due date:
  = @event.due_date

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
