- if current_user.created_events.include?(@event) or current_user.subscribed_events.include?(@event)
  = form_for @search do |f|
    = f.label :name_or_description_contains
    = f.text_field :name_or_description_contains
    
    = hidden_field_tag :event_id, @event.id
    
    = f.submit

%table
  %tr
    %th Name
    %th Description
    %th Price
    %th Image url big
    %th Image url small
    %th Deeplink
    %th
    %th
    %th

  - @products.each do |product|
    %tr
      %td= product.name
      %td= product.description
      %td= product.price
      %td= product.image_url_big
      %td= product.image_url_small
      %td= product.deeplink
      %td= link_to "Ajouter à la liste", event_add_product_path(@event, :product_id => product.id)

%br

= link_to 'New Product', new_product_path
