- if current_user.created_events.include?(@event) or current_user.subscribed_events.include?(@event)
  = form_for @search do |f|
    = f.text_field :name_or_description_contains, :placeholder => 'Tapez une idée de cadeau'
    
    = hidden_field_tag :event_id, @event.id
    
    = f.submit "Chercher"

-if !@products.empty?
  %p
    Les produits affichés rentre dans le budget de l'évènement.
-if @products.empty?
  %p
    Aucun produit trouvés avec le budget actuel.
%p
  = link_to "Retour à l'évènement", event_path(@event), :class => "button"
%ul
  - @products.each do |product|
    %li
      %h3
        = product.name
        \-
        = product.price
        €
        = link_to "Ajouter à la liste", event_add_product_path(@event, :product_id => product.id)
      = image_tag product.imageUrlSmall, :width => 100
      = product.description
    %hr/

%br

