%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Description:
  = @product.description
%p
  %b Price:
  = @product.price
%p
  %b Image url big:
  = @product.image_url_big
%p
  %b Image url small:
  = @product.image_url_small
%p
  %b Deeplink:
  = @product.deeplink

= link_to 'Edit', edit_product_path(@product)

