!!!
%html
  %head
    %title Nuit2011
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %header
      .top
        = image_tag "gift.png"
        %h1#logo
          Awesome Gift
      %nav
        %ul          
          - if current_user
            %li
              = link_to "Se déconnecter", destroy_user_session_path, :method => :delete
          - else
            %li
              = link_to "Se connecter", new_user_session_path 
            %li
              = link_to "S'inscrire", new_user_registration_path
          - if current_user
            %li
              = link_to "Créer un évènement", new_event_path
    
    %section
      %p.notice= notice
      %p.alert= alert
      = yield