!!!
%html
  %head
    %meta{ :name => "viewport", :content => "user-scalable=yes, width=device-width"}
    
    %title Nuit2011
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .content
      %header
        .top
          = image_tag "gift.png"
          %h1#logo
            = link_to 'Awesome Gift', home_index_path
        %nav
          %ul          
            - if current_user
              %li
                = link_to "Créer un évènement", new_event_path
              %li
                = link_to "Mes évènements", events_path
            - if current_user
              %li
                = link_to "Déconnexion", destroy_user_session_path, :method => :delete
            - else
              %li
                = link_to "Connexion", new_user_session_path 
              %li
                = link_to "S'inscrire", new_user_registration_path
      %section
        -if notice
          %p.notice= notice
        -if alert
          %p.alert= alert
        = yield